data/events.csv.zip
data/item_properties_part1.csv
data/item_properties_part2.csv
data/category_tree.csv
collab_dataset.pickle
collab_model.pickle
items.pickle
matrix_dataset.pickle
matrix_model.pickle
users.pickle
xboost_model.pickle
fact_model.pickle
fact_pivot.pickle
server/__pycache__/core.cpython-311.pyc
server/data/collab_model.pickle
server/data/xboost_items.pickle
server/data/xboost_users.pickle
server/data/category_tree.csv
server/data/events.csv.zip
server/data/item_properties_part1.csv
server/data/item_properties_part2.csv

server/recomendation_server.tar
